.sidebar{
    display:flex ;
    flex-direction: column;
    gap:10px;
    height:100%;
}
.icon{
    align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
.sidebar_list{
    
    gap:20px;
    flex-direction: column;
    display: flex;
    height: 0;
    transform: 300ms;
}
.sidebar_list_active{
    height:350px
}
.sidebar_list_item {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    list-style: none;
}
.light-mode-sidebar {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode-sidebar {
    background-color: #333333;
    color: #ffffff;
  }